<ion-view view-title="首页">
    <ion-content class="has-header" lazy-scroll>
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="box blue"><h1 class="light">BLUE</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><h1 class="light">YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1 class="light">PINK</h1></div>
            </ion-slide>
        </ion-slide-box>
        <div class="home-buttons padding">
            <div class="positive-bg  light home-button padding">
                <p class="light">拍照分析</p>
                <p>照一照分析你的身体健康</p>
            </div>
            <div class="whiteSpace"></div>
            <div class="royal-bg  light home-button padding">
                <p class="light">健康资讯</p>
                <p>为您的健康一路护航</p>
            </div>
        </div>
        <div class="content-title padding">
            热门推荐
        </div>
        <ion-list>
            <ion-item ng-repeat="item in list" class="item-thumbnail-left" href="#/tab/homeDetail/{{item.aid}}">
                <img image-lazy-src="{{item.pic | src:true}}" onerror="javascript:this.src='noPic.jpg'">
                <p ng-bind="item.title"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>