<ion-tabs class="tabs-light tabs-icon-top {{isShow}}">
    <ion-tab href="#/tab/home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" title="首页">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/analyze" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" title="百度一下">
        <ion-nav-view name="analyze"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/habit" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" title="发现">
        <ion-nav-view name="habit"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/agentCenter" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" title="个人中心">
        <ion-nav-view name="agent-center"></ion-nav-view>
    </ion-tab>
</ion-tabs>